{% extends 'base.html' %}

{% block content %}

<h1>About Friend File</h1>
<br>
<br>
<p class='fs-5'><b></b>
Friend File is a social blogging platform developed by <a href='https://django-template-3.kavinjindal.repl.co/dev/'>Kavin Jindal</a>. People can register on the website and write blogs on topics related to technology, coding, movies, life, wellness etc. People can come on the website and promote their content and creations here.The site's first version has been released and is still being worked on. The developer is working on adding more updates and features to enhance the user experience on Friend File.</p>
<br>
<h1>Development Info</h1>
<br>
<p class='fs-5'>The site's frontend has been coded in HTML and styled using <a href='https://getbootstrap.com/'>Bootstrap</a><br>The backend part has been coded in <a href='https://www.python.org/'>Python</a> using <a href='https://www.djangoproject.com/'>Django</a>.</p>


{% endblock %}