{% extends 'base.html' %}

{% block content %}

<h1>Dev Blog</h1>
<br>
<br>
<h1>A Note from the Developer's Desk</h1>
<br>
<hr>
<p class='fs-5'><b>Uploaded by: </b>Kavin Jindal</p>
<p class='fs-5'><b>Uploaded on: </b>23rd February 2021</p>
<p class='fs-5'>
    The Founder of the website has something really important to tell you about the recent updates made
    in Friend File.
    <br>
    <a href='https://django-template-3.kavinjindal.repl.co/article/19/'><b>Read the full post here....</b></a>
</p>



{% endblock %}