{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'cyber'%}">Windows Privilege Escalation</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'pentesting'%}">Penetration Testing</a>
  </li>
  </ul>
  <h1>Penetration Testing</h1>
  <br>
  <br>
  <hr>
  <h3>LLMNR Poisoning Attack | Active Directory Exploitation</h3>
  <br>
  <h5>Uploaded by : ActiveXSploit</h5>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/aXQggrLqqrs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
  <br>
  <br>
  <br>
  <hr>
  <h3>Subdomain Enumeration | Penetration Testing</h3>
  <br>
  <h5>Uploaded by : ActiveXSploit</h5>
  <br>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/InYiEAW3K8Y" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br>
  <br>
<hr>
<br>
<br>
<hr>
<h3>Penetration Testing On Splunk! | Exploiting Splunk to Get Reverse Shell!</h3>
<br>
<h5>Uploaded by : ActiveXSploit</h5>
<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jhPpV8b6q9E" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



{% endblock %}