{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'tech'%}">Python Tkinter</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'python'%}">Python</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'linux'%}">Linux</a>
  </li>
  
  
  
  
</ul>
<h1>Learn Python Tkinter</h1>
<br>
<br>
<hr>
<h3>Starting off with GUI apps in Python</h3>
<br>
<h5>Uploaded by : Kavin Jindal</h5>
<br>
<h6>Beginning with Python Tkinter #1</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/CKxhM9Bunvo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<hr>
<h3>Labels in Python Tkinter</h3>
<br>
<h5>Uploaded by : Kavin Jindal</h5>
<br>
<h6>Using Labels in Python Tkinter</h6>
<iframe width="560" height="315" src="https://www.youtube.com/embed/n6W08B10beU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


{% endblock %}