{% extends 'base.html' %}

{% block content %}

<h1>Recent Updates in Friend File</h1>
<br>
<br>
<h3>Know about the recent updates made in Friend File</h3>
<br>
<p class='fs-5'><b>>> Update 1.0</b><br>
<br>
The first update includes very basic features:<br>
The theme of the website has been modified to a black navbar with blue text<br>
We added more categories such as Ethical Hacking, Movies and Gaming<br>
Added the updates page and developer page<br>
</p>
<br>
<br>
<h2>Major Update:</h2>
<br>
<p class='fs-5'>Added a Rich Text Editor.</p>
<small>Uploaded on : 18th Feb by Kavin Jindal</small>


{% endblock %}